--enable numberFormatting
--swiftversion 6
--header strip
--indent 4
--disable spaceAroundOperators,unusedArguments,wrapConditionalBodies,wrapLoopBodies,redundantSelf
--wraparguments before-first
--ifdef outdent
--hexliteralcase lowercase
--decimalgrouping 3,4
