.imessage-auth {
  position: relative;
  max-width: 600px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  ol { padding-left: 1.5em }
  .perm { display: flex; align-items: center; margin: 4px 0 }
  .perm button { padding: 6px 10px }
  .name { width: 80px }
  .status { margin-right: 1em }
  .page-dots {
    margin: .5rem 0;
    text-align: center;
    .dot {
      display: inline-block;
      width: 8px;
      height: 8px;
      margin: 4px;
      border-radius: 50%;
      background: rgba(lightgray, .8);
      &.selected { background: rgba(gray, .5) }
    }
  }
  .page:not(.add-page) {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    max-height: 800px;
    justify-content: space-between;
    img { display: block; margin: auto; max-width: 100%; }
  }
  .add-page .buttons {
    margin: 2em 0;
  }
  .known-issues {
    ol {margin: 0 1em}
    li { margin: 1em 0;}
  }
  h3, .buttons, .show-more-info { text-align: center }
  .show-more-info { margin: 1rem; cursor: default; }
  .grayed { opacity: .7 }
  .revoke-fda { border-top: 1px solid rgba(var(--color-fg-rgba), .1); text-align: center }
}
